
<form action=" " method="post" class="form-group" id="completeTodo">
    <label class="text">Enter your due date</label>
    <input type ="date" class="form-control" name="date" >
    <input type="text" class="form-control" name="category" placeholder="enter your category" autocomplete="off" >
    <label for="subtask" class="text">List Your Subtasks</label>
    <ul id="subtaskList">
        <li class="listItem">
            <input type="text" class="form-control" name="subtask" placeholder="wrtite something">

        </li>

    </ul>
    <div id="addMoreSubtask">
        <span><i class="fas fa-plus"></i></span>
    </div>
</form>