
<form action="/addToDB" method="post" class="form-group" id="completeTodo">
    <input type="text" name="todo" value="<%= locals.todo %>" hidden >
    <label class="text">Enter your due date</label>
    <input type ="date" class="form-control" name="due-date" >
    <input type="text" class="form-control" name="category" placeholder="enter your category" autocomplete="off" >
    <label for="subtask" class="text">List Your Subtasks</label>
    <ul id="subtaskList">
        <li class="listItem">
            <input type="text" class="form-control" name="subtasks" placeholder="wrtite something">

        </li>

    </ul>
    <div id="addMoreSubtask">
        <span><i class="fas fa-plus"></i></span>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-success" id="addToDB">ADD IT </button>
</form>